*.log

# Pycharm specific
.idea

# Python specific
__pycache__

# Docs
docs/_build

# PCBOT specific
config
plugins/osulib/oppai
plugins/pokedexlib/create_lib.py
plugins/pokedexlib/csv/

# Additional executable files
*.bat
*.sh
*.xsh
